body {
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  padding:0;
  margin:0;
  background-color:azure
}
/*  */
.container{ display: flex;
  width: 75%;
  /* margin:auto; */
  
  justify-content: flex-end;
}

.container1{
  display: flex;
  /* width: 75%; */
  /* margin:auto; */

  justify-content: center;
}
/*  */
header{
  background-color:#5b696e;
  padding-top: 25px;
  min-height: 70px;
  border-bottom: gold 3px solid;
  align-items: center;
}

header a{
  color:aliceblue;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header ul{
  margin:0;
  padding: 0;
}

header li{
  display:inline;
  padding: 0 0 15px 15px;
  float: left;
}

/* pushing the nav down */
header nav{
  float: right;
  margin-top: 5px;
}

header #name h1{
  margin:0;
}

header a:hover{
  color: #cccccc;
  font-weight: bold;
}

.about-me-text {
display: flex;
flex-wrap: wrap;
flex-direction: row-reverse;
justify-content: center;
padding: 20px;

}

/* showcase */

#showcase{min-height: 150px;
background-color: #a1bc08;
text-align: right;
color: #050505;
margin-top: 25px;
font-size: 24px;
border-radius: rgb(5, 5, 5) 10px solid;
}


#boxes {margin-top: 20px;}

img {
  width: 200px;
  height: 200px;
  /* Margin property */
  margin: 20px;
  /* Padding property */
  padding: 20px;
  /* Border property */
  border: 9px solid rgb(202, 223, 43);
  column-count: 2;
  gap: 1rem;

}

footer li{
  display:inline;
  padding: 0 15px 40px 15px;
}

footer{border: #a1bc08 3px solid;}


@media screen and (max-width: 768px) {
    main,
    nav {
      flex-direction: column;
    }
  }
